.odejda {
  padding: 60px;
}

.odejda .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.odejda .member .member-img {
  position: relative;
  overflow: hidden;
}

.odejda .member .podrobnee {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.odejda .member .podrobnee a {
  transition:  color 0.3s;
  color: #000;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 30px;
  width: 110px;
  height: 40px;
  background: #9400D3;
  display: inline-block;
}

.odejda .member .podrobnee a:hover {
  background: #fff;
}

.odejda .member .member-info {
  padding: 25px 15px;
}

.odejda .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 25px;
}

.odejda .member .member-info span {
  display: block;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.odejda .member:hover .podrobnee {
  opacity: 10;
  bottom: 150px;
}
