.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #9400D3;
}

.navbar-dark .navbar-brand {
    color: #9400D3;
}

.navbar-dark .navbar-brand:hover {
    color: #9400D3;
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.btn-outline-dark {
    color: #fff;
    border-color: #000;
}

.btn-outline-dark:hover {
    color: #9400D3;
    border-color: #000;
    background-color: inherit;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #000;
}

.navbar-dark .navbar-toggler:hover {
    color: #9400D3;
    border-color: #9400D3;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
}

.btn-secondary {
    color: #fff;
    background-color: #9400D3;
    border-color: #9400D3;
}

.btn-secondary:hover{
    color: #000;
    background-color: #9400D3;
    border-color: #9400D3;
}

.form-check-input:checked {
    background-color: #9400D3;
    border-color: #9400D3;
}

.form-control {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #9400D3;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9400D3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal-header {
  color: #fff;
  background-color: #9400D3;
}

a {
    color: #212529;
    text-decoration: none;
}

a:hover {
    color: #9400D3;
    text-decoration: none;
}
